# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.~
*pip-wheel-metadata/

# Virtual Environments
.env
.venv
venv/
venv.bak/
env/
env.bak/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Home Assistant
.storage/
.HA_VERSION
deps/
*.db
*.db-journal
home-assistant.log
home-assistant.log.*
home-assistant_v2.db

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/
*.cover
coverage.xml
*.log

# Local development
ha-test-mystiebel/
config/.idea/
